{{define "homepage"}}
  {{template "header" .}}
  <section class="section">
    <div class="container">
      <h1 class="title is-4">🌊 Liqiud balance: {{.SatAmount}}</h1>
      <div class="columns">
        <div class="column">
          {{.ListPeers}}
        </div>
        <div class="column">
          <div class="box">
            <strong>Sat Amount</strong>: {{.SatAmount}}<br>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{template "footer" .}}
{{end}}