html{
    scroll-behavior: smooth;
}

th, td {
    padding: 5px;
    text-size-adjust: none
}

header {
    position: sticky;
    top:0;
    background: #001072;
    z-index: 10;
    margin-bottom: -25px;
}
    
.rotate-span {
    float: right; 
    text-align: right;
    transform: rotate(270deg);
}

.progress {
    position: center;
    height: 0.6em;
    width: 100%;
    text-align:center;
    color:white;
    font-size:1em;
    background-image:
        linear-gradient(#c0bdff,blue),
        linear-gradient(#debaba,darkred),
        linear-gradient(#95cb96,darkgreen),
        linear-gradient(grey,grey);
    background-repeat:no-repeat;
    transition:1s;
}
  
.current-progress {
    height: 100%;
    width: 0%;
    background-color: white;
    text-align: center;
    transition: all 0.3s;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    overflow-y: scroll; 
    max-width: 100%; 
    height: 450px; 
    border: 0.5px solid lightgray; 
    padding: 5px; 
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

#temp-message {
    position: fixed;
    top: 10px;
    right: 20px;
    color: white;
    background-color: green;
    padding: 10px;
    border-radius: 5px;
}

#error-message {
    position: fixed;
    top: 10px;
    right: 20px;
    color: white;
    background-color: darkred;
    padding: 10px;
    border-radius: 5px;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.left-logo {
    order: 1; /* This will ensure it's placed far left */
    padding-left: 5px;
    padding-top: 3px;
}

.right-logo {
    display: flex;
    order: 2; /* This will ensure it's placed far right */
    padding-right: 10px;
    padding-top: 0px;
}

.logo {
    height: 50px; /* Adjust the size as per your requirement */
    width: auto;
    margin-right: 5px; /* Adjust spacing between logos */
}

.strikethrough {
    text-decoration: line-through;
}

/* Hide the spin buttons in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the spin buttons in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.transparent-input {
    display: inline; 
    background-color: transparent; /* Transparent background */
    padding: 0px; /* Add padding */
    color: white; /* Text color */
    text-align: center;
    font-size: 1em; /* Font size */
    width: 100%; /* Make input take full width of the cell */
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

.menu-button {
    background-color: transparent;
    color: white;
    border: none;
}

.menu-button:hover {
    cursor: pointer;
}

.dropdown-item {
    font-size: 1.5em;
}

.icon {
    font-size: 2em;
}

input[type=checkbox] {
    transform: scale(1.5);
    cursor: pointer;
}

/* Custom styles for mobile */
@media (max-width: 768px) {
    /* Remove padding for columns on mobile */
    .column {
        padding-left: 0;
        padding-right: 0;
        text-align: center; /* For text centering */
    }

    input[type=checkbox] {
        transform: scale(1.1);
    }

    .input { 
        padding: 0.5em; /* reduce padding inside input cells */
    }

    th, td {
        padding-left: 1px;
        padding-right: 1px;
    }
}

 /* Style for the tooltip */
 #tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 3px;
    pointer-events: none;
    display: none;
    font-size: 12px;
}