html{
    scroll-behavior: smooth;
}

th, td {
    padding: 5px;
    text-size-adjust: none
}

header {
    position: sticky;
    top:0;
    background: #001072;
    z-index: 10;
}
    
.rotate-span {
    float: right; 
    text-align: right;
    transform: rotate(270deg);
}

.progress {
    position: center;
    height: 0.6em;
    width: 100%;
    text-align:center;
    color:white;
    font-size:1em;
    background-image:
        linear-gradient(blue,darkblue),
        linear-gradient(red,darkred),
        linear-gradient(green,darkgreen),
        linear-gradient(grey,grey);
    background-repeat:no-repeat;
    transition:1s;
}
  
.current-progress {
    height: 100%;
    width: 0%;
    background-color: white;
    text-align: center;
    transition: all 0.3s;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    overflow-y: scroll; 
    max-width: 100%; 
    height: 450px; 
    border: 0.5px solid lightgray; 
    padding: 5px; 
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

#temp-message {
    position: fixed;
    top: 10px;
    right: 20px;
    color: white;
    background-color: green;
    padding: 10px;
    border-radius: 5px;
}
