{{define "logpage"}}  
  {{template "header" .}}
    <div class="container">
      <div class="columns">
        <div class="column">
          {{template "log" .}}
        </div>
      </div>
    </div>
  {{template "footer" .}}
{{end}}