{{define "swap"}}  
  {{template "header" .}}
    <div id="update">
    </div>
    <script>
      function updatePage(data) {
        document.getElementById('update').innerHTML = data;
      }
      function fetchData() {
        fetch('/update?id={{.Id}}')
          .then(response => response.text())
          .then(data => updatePage(data));
      }
      fetchData()
      {{if .IsPending}}
        setInterval(fetchData, 1000);
      {{end}}
    </script>
  {{template "footer" .}}
{{end}}