name: Manual Build Docker Images
permissions:
  packages: write

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version'
        required: true

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: New builder
        run: |
          docker run --privileged --rm tonistiigi/binfmt --install all
          docker buildx create --use --name newbuilder
  
      - name: Build and Push Docker image
        run: |
          docker buildx build \
          --platform linux/arm64,linux/amd64 \
          --build-arg COMMIT=8f670390ff9277f02bd6d422d518de757ce2faf8 \
          --tag ghcr.io/impa10r/peerswap-web:${{ github.event.inputs.version }} \
          --tag ghcr.io/impa10r/peerswap-web:latest \
          --output "type=registry" \
          .
